yiling-platform/yiling-service-group/yiling-open-service/yiling-open-provider/src/main/java/com/yiling/open/webservice/login/EASLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://110.249.133.136:6890/ormrpc/services/EASLogin"
                  xmlns:impl="http://110.249.133.136:6890/ormrpc/services/EASLogin"
                  xmlns:tns1="urn:client" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Jun 15, 2017 (10:55:06 UTC)-->
 <wsdl:types>
  <schema targetNamespace="urn:client" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSContext">
    <sequence>
     <element name="dbType" type="xsd:int"/>
     <element name="dcName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="sessionId" nillable="true" type="xsd:string"/>
     <element name="slnName" nillable="true" type="xsd:string"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="authPattern" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="isEncodePwd" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse1">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part name="logoutReturn" type="xsd:boolean">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest2">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="authPattern" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginByLtpaTokenResponse">

      <wsdl:part name="loginByLtpaTokenReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse2">

      <wsdl:part name="loginReturn" type="tns1:WSContext">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginByLtpaTokenRequest">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ltpaToken" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest1">

      <wsdl:part name="userName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="password" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="slnName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dcName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="language" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="dbType" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EASLoginProxy">

      <wsdl:operation name="loginByLtpaToken" parameterOrder="userName ltpaToken slnName dcName language dbType">

         <wsdl:input message="impl:loginByLtpaTokenRequest" name="loginByLtpaTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginByLtpaTokenResponse" name="loginByLtpaTokenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType authPattern isEncodePwd">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType">

         <wsdl:input message="impl:loginRequest1" name="loginRequest1">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse1" name="loginResponse1">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password slnName dcName language dbType authPattern">

         <wsdl:input message="impl:loginRequest2" name="loginRequest2">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse2" name="loginResponse2">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout" parameterOrder="userName slnName dcName language">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EASLoginSoapBinding" type="impl:EASLoginProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginByLtpaToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginByLtpaTokenRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginByLtpaTokenResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://login.webservice.bos.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/EASLogin" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EASLoginProxyService">

      <wsdl:port binding="impl:EASLoginSoapBinding" name="EASLogin">

         <wsdlsoap:address location="http://110.249.133.136:6890/ormrpc/services/EASLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
