yiling-platform/yiling-service-group/yiling-open-service/yiling-open-provider/src/main/java/com/yiling/open/webservice/inform/WSPopToEasWebserviceFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade"
                  xmlns:impl="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade"
                  xmlns:tns1="urn:client.poptoeaswebservicefacade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Jun 15, 2017 (10:55:06 UTC)-->
 <wsdl:types>
  <schema targetNamespace="urn:client.poptoeaswebservicefacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addSaleOrderResponse">

      <wsdl:part name="addSaleOrderReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saleOrderToSaleReturnsRequest">

      <wsdl:part name="saleOrderNum" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saleOrderToSaleReturnsResponse">

      <wsdl:part name="saleOrderToSaleReturnsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns1:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addSaleOrderRequest">

      <wsdl:part name="popsalenum" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saleIssueToOtherBillRequest">

      <wsdl:part name="salelssueNum" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ReceivemessageResponse">

      <wsdl:part name="ReceivemessageReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saleIssueToOtherBillResponse">

      <wsdl:part name="saleIssueToOtherBillReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ReceivemessageRequest">

      <wsdl:part name="type" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="json" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSPopToEasWebserviceFacadeSrvProxy">

      <wsdl:operation name="addSaleOrder" parameterOrder="popsalenum">

         <wsdl:input message="impl:addSaleOrderRequest" name="addSaleOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:addSaleOrderResponse" name="addSaleOrderResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="Receivemessage" parameterOrder="type json">

         <wsdl:input message="impl:ReceivemessageRequest" name="ReceivemessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:ReceivemessageResponse" name="ReceivemessageResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saleIssueToOtherBill" parameterOrder="salelssueNum">

         <wsdl:input message="impl:saleIssueToOtherBillRequest" name="saleIssueToOtherBillRequest">

       </wsdl:input>

         <wsdl:output message="impl:saleIssueToOtherBillResponse" name="saleIssueToOtherBillResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saleOrderToSaleReturns" parameterOrder="saleOrderNum">

         <wsdl:input message="impl:saleOrderToSaleReturnsRequest" name="saleOrderToSaleReturnsRequest">

       </wsdl:input>

         <wsdl:output message="impl:saleOrderToSaleReturnsResponse" name="saleOrderToSaleReturnsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSPopToEasWebserviceFacadeSoapBinding" type="impl:WSPopToEasWebserviceFacadeSrvProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addSaleOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addSaleOrderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addSaleOrderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="Receivemessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ReceivemessageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ReceivemessageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saleIssueToOtherBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saleIssueToOtherBillRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saleIssueToOtherBillResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saleOrderToSaleReturns">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saleOrderToSaleReturnsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saleOrderToSaleReturnsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSPopToEasWebserviceFacadeSrvProxyService">

      <wsdl:port binding="impl:WSPopToEasWebserviceFacadeSoapBinding" name="WSPopToEasWebserviceFacade">

         <wsdlsoap:address location="http://110.249.133.136:6890/ormrpc/services/WSPopToEasWebserviceFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
