yiling-platform/yiling-service-group/yiling-open-service/yiling-open-provider/src/main/java/com/yiling/open/webservice/basic/WSEasBasicDataWebserviceFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade"
                  xmlns:impl="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade"
                  xmlns:tns1="urn:client.easbasicdatawebservicefacade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Jun 15, 2017 (10:55:06 UTC)-->
 <wsdl:types>
  <schema targetNamespace="urn:client.easbasicdatawebservicefacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSInvokeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="InventoryQueryRequest">

      <wsdl:part name="orgNum" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="materialNum" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectLocationsRequest">

      <wsdl:part name="orgNum" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="warehouseNum" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectMaterialsResponse">

      <wsdl:part name="selectMaterialsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pricePolicydetilsRequest">

      <wsdl:part name="orgNo" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="custNo" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="matNo" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectWarehousesResponse">

      <wsdl:part name="selectWarehousesReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectOrgsResponse">

      <wsdl:part name="selectOrgsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectCustomersRequest">

      <wsdl:part name="customerNames" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="taxRegistration" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectLocationsResponse">

      <wsdl:part name="selectLocationsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSInvokeException">

      <wsdl:part name="fault" type="tns1:WSInvokeException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pricePolicydetilsResponse">

      <wsdl:part name="pricePolicydetilsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectCustomersResponse">

      <wsdl:part name="selectCustomersReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectOrgsRequest">

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectWarehousesRequest">

      <wsdl:part name="orgNum" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="InventoryQueryResponse">

      <wsdl:part name="InventoryQueryReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectMaterialsRequest">

      <wsdl:part name="date" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="orgNum" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSEasBasicDataWebserviceFacadeSrvProxy">

      <wsdl:operation name="selectOrgs" parameterOrder="date">

         <wsdl:input message="impl:selectOrgsRequest" name="selectOrgsRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectOrgsResponse" name="selectOrgsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectLocations" parameterOrder="orgNum warehouseNum date">

         <wsdl:input message="impl:selectLocationsRequest" name="selectLocationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectLocationsResponse" name="selectLocationsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectWarehouses" parameterOrder="orgNum date">

         <wsdl:input message="impl:selectWarehousesRequest" name="selectWarehousesRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectWarehousesResponse" name="selectWarehousesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="InventoryQuery" parameterOrder="orgNum date materialNum">

         <wsdl:input message="impl:InventoryQueryRequest" name="InventoryQueryRequest">

       </wsdl:input>

         <wsdl:output message="impl:InventoryQueryResponse" name="InventoryQueryResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectMaterials" parameterOrder="date orgNum">

         <wsdl:input message="impl:selectMaterialsRequest" name="selectMaterialsRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectMaterialsResponse" name="selectMaterialsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="pricePolicydetils" parameterOrder="orgNo custNo matNo date">

         <wsdl:input message="impl:pricePolicydetilsRequest" name="pricePolicydetilsRequest">

       </wsdl:input>

         <wsdl:output message="impl:pricePolicydetilsResponse" name="pricePolicydetilsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectCustomers" parameterOrder="customerNames taxRegistration date">

         <wsdl:input message="impl:selectCustomersRequest" name="selectCustomersRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectCustomersResponse" name="selectCustomersResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSInvokeException" name="WSInvokeException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSEasBasicDataWebserviceFacadeSoapBinding" type="impl:WSEasBasicDataWebserviceFacadeSrvProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="selectOrgs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectOrgsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="selectOrgsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectLocations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectLocationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="selectLocationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectWarehouses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectWarehousesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="selectWarehousesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="InventoryQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="InventoryQueryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="InventoryQueryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectMaterials">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectMaterialsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="selectMaterialsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="pricePolicydetils">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pricePolicydetilsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="pricePolicydetilsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selectCustomers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectCustomersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.app.popeaswebservice.custom.eas.kingdee.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="selectCustomersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="WSInvokeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="WSInvokeException" namespace="http://110.249.133.136:6890/ormrpc/services/WSEasBasicDataWebserviceFacade" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSEasBasicDataWebserviceFacadeSrvProxyService">

      <wsdl:port binding="impl:WSEasBasicDataWebserviceFacadeSoapBinding" name="WSEasBasicDataWebserviceFacade">

         <wsdlsoap:address location="http://222.223.229.37:6890/ormrpc/services/WSEasBasicDataWebserviceFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
